/******************************************************************
 システム名	：OpenOLAP Viewer
 ファイル名	：common.css
 作成		：
 修正履歴	：----/--/--
 備考		：共通のスタイルシート
			　（body、文字列、ボタンなど）
******************************************************************/

/********************* BODY *********************/
body 
{ 
	background-color : white;
	margin : 0;
	scrollbar-face-color: #F7E397;
	scrollbar-highlight-color: #E8D487;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-darkshadow-color: #C5AF5B;
	scrollbar-arrow-color: #8F7928;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-track-color: #F4F3EE;
}

/********************* 文字関連 *********************/
/* 文字共通 */
body,tr,th,td,select,input,textarea 
{
	font-family : 'MS UI Gothic', serif;
	font-weight : normal;
	font-size : 12px;
	color : black;
}

/********************* ページヘッダー *********************/
.Header
{
	width:100%;
	border-collapse:collapse;
}

.HeaderTitleLeft
{
	background:url('../images/title_l.gif') no-repeat;
	width:26px;
	height:36px;
}

.HeaderTitleCenter
{
	background:url('../images/title.gif') repeat-x;
	color:white;
	font-weight:bold;
	font-size:14px;
	font-weight:bold;
	padding-top:12px;
}

.HeaderTitleRight
{
	background:url('../images/title.gif') repeat-x;
	color:white;
	border:none;
	padding-top:12px;
	width:50px;
	text-align:right;
}

/********************* 他配置関連 *********************/

/* 項目名 */
.title
{
	font-size:12px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:5px;
	color:#666666;
}

/* コマンドボタン用 */
div.command 
{
	text-align : center;
	margin : 10px;
}

.msg
{
	width:353;
	height:149;
	background:url('../images/msgbox.gif') no-repeat;
	vertical-align:middle;
	text-align:center;
	margin-top:50px;
	
}

/* 説明文 */
.explain
{
	margin:10px;
}

/********************* img ***************************/
img 
{
	border-style : none;
	margin:0;
}

/********************* ログアウトリンク *********************/
a.logout { 
	text-decoration: none;
	color:white;
}

/********************* 各機能トップ画面 *********************/

/* 説明文章の段落*/
p {
	width : 100%;
	text-align : left;
	line-height : 1.2em;
	text-indent : 1em;
	margin : 20px;
}

body.topPage
{
	background : url("../images/olap_image.jpg") white no-repeat 100% 100% fixed;
}

ul {
	text-align : left;
}

li.item {
	margin : 0px 0px 0em 1em;
	list-style-type : square;
}

li.exp {
	margin : 0.5em 0px 1em 1.5em;
	list-style : none;
}

td.expTitle,td.expDataCell,td.simpleTableTitle,td.simpleTableDataCell {
	border : solid 1 gray;
	padding : 5px;
}
td.expTitle,td.simpleTableTitle {
	background-color:#FFDCAF;
}

td.expDataCell,td.simpleTableDataCell{
	text-align : center;
	background-color:#FAF2DB;
}

td.simpleTableTitle
{
	white-space : nowrap;
}
td.simpleTableDataCell
{
	text-align : left;
	white-space : nowrap;
}

/********************* ウィザード画面下（ボタンエリア） *********************/
div.WizardButtonArea,div.WizardButtonArea2,div.WizardButtonArea3
{
	text-align:right;
	padding-right:20px;
	border-top:1 solid #CCCCCC;
}

div.WizardButtonArea2
{
	margin-top:7px;
}

div.WizardButtonArea3
{
	margin-top:43px;
}


/********************* ツールバー *********************/
/* ツールバー */
TABLE#tblPageEdge,TABLE#tblColorPallet
{
	background:url('../images/dim_area.gif') repeat-x;
}
TABLE#tblColorPallet
{
	border:1 solid gray;
}

/* ツールバーのボタン */
TABLE#tblPageEdge TABLE,TABLE#tblColorPallet TABLE
{
	font-family:tahoma;
	font-size:70%;
	color:menutext;
/*	border:1px solid #F4F4FF;*/
	cursor:hand;
	padding:1px; 
}

TABLE#tblColorPallet
{
	border-color:threedhighlight threedshadow threedshadow threedhighlight;

}

img.normal_toolicon,img.up_toolicon,img.out_toolicon
{
	margin-top:2;
	margin-right:1;
	filter: Alpha(opacity=80);
}

img.up_toolicon
{
	margin-top:2;
	margin-right:1;
	filter: Alpha(opacity=100);
}

img.over_toolicon
{
	margin-right:2;
	filter: Alpha(opacity=100);
}

img.down_toolicon
{
	margin-top:4;
}





/*　表項目　*/
th.standard {
	text-align : left;
	background-color : #F4D792;
	color : black;
	border-color : #BABABA;
	border-width : 1px;
	border-style : solid;
	padding : 2px 2px 2px 5px;
	white-space: nowrap;
}

/*　表データ（左揃え）　*/
td.standard {
	text-aliign : left;
	background-color : #FBF2DB;
	color : black;
	border-color : gray;
	border-width : 1px;
	border-style : solid;
	padding : 0px 0px 0px 2px;
	white-space: nowrap;
}

/********************* ボタン *********************/

/* 次へ>>ボタン*/
input.normal_next, input.up_next, input.out_next {
	width : 106;
	height : 44;
	background : url("../images/button/next.gif") no-repeat;
	border-style : none;
}

input.over_next, input.down_next {
	width : 106;
	height : 44;
	background : url("../images/button/next_r.gif") no-repeat;
	border-style : none;
}

/* <<戻るボタン*/
input.normal_back, input.up_back, input.out_back {
	width : 106;
	height : 44;
	background : url("../images/button/back.gif") no-repeat;
	border-style : none;
}

input.over_back, input.down_back {
	width : 106;
	height : 44;
	background : url("../images/button/back_r.gif") no-repeat;
	border-style : none;
}

/* 完了ボタン*/
input.normal_finish, input.up_finish, input.out_finish {
	width : 106;
	height : 44;
	background : url("../images/button/finish.gif") no-repeat;
	border-style : none;
}

input.over_finish, input.down_finish {
	width : 106;
	height : 44;
	background : url("../images/button/finish_r.gif") no-repeat;
	border-style : none;
}

/* 更新ボタン */
input.normal_update, input.up_update, input.out_update{
	width : 68;
	height : 38;
	background : url("../images/button/update.gif") no-repeat;
	border-style : none;
}

input.over_update, input.down_update{
	width : 68;
	height : 38;
	background : url("../images/button/update_r.gif") no-repeat;
	border-style : none;
}

/* 更新（大）ボタン */
input.normal_update_l, input.up_update_l, input.out_update_l{
	width : 106;
	height : 44;
	background : url("../images/button/update_l.gif") no-repeat;
	border-style : none;
}

input.over_update_l, input.down_update_l{
	width : 106;
	height : 44;
	background : url("../images/button/update_l_r.gif") no-repeat;
	border-style : none;
}


/* 削除 */
input.normal_delete, input.up_delete, input.out_delete{
	width : 68;
	height : 38;
	background : url("../images/button/delete.gif") no-repeat;
	border-style : none;
}

input.over_delete, input.down_delete{
	width : 68;
	height : 38;
	background : url("../images/button/delete_r.gif") no-repeat;
	border-style : none;
}

/* 新規作成（ミニ） */
input.normal_create_mini, input.up_create_mini, input.out_create_mini {
	width : 68;
	height : 38;
	background : url("../images/button/create_mini.gif") no-repeat;
	border-style : none;
}

input.over_create_mini, input.down_create_mini{
	width : 68;
	height : 38;
	background : url("../images/button/create_mini_r.gif") no-repeat;
	border-style : none;
}

/* OKボタン*/
input.normal_ok, input.up_ok, input.out_ok {
	width : 106;
	height : 44;
	background : url("../images/button/ok.gif") no-repeat;
	border-style : none;
}

input.over_ok, input.down_ok {
	width : 106;
	height : 44;
	background : url("../images/button/ok_r.gif") no-repeat;
	border-style : none;
}

/* OKボタン（ミニサイズ）*/
input.normal_ok_mini, input.up_ok_mini, input.out_ok_mini {
	width : 68;
	height : 38;
	background : url("../images/button/ok_mini.gif") no-repeat;
	border-style : none;
}

input.over_ok_mini, input.down_ok_mini {
	width : 68;
	height : 38;
	background : url("../images/button/ok_mini_r.gif") no-repeat;
	border-style : none;
}

/* キャンセルボタン*/
input.normal_cancel, input.up_cancel, input.out_cancel {
	width : 68;
	height : 38;
	background : url("../images/button/cancel.gif") no-repeat;
	border-style : none;
}

input.over_cancel, input.down_cancel {
	width : 68;
	height : 38;
	background : url("../images/button/cancel_r.gif") no-repeat;
	border-style : none;
}

/* 追加>>ボタン*/
input.normal_add, input.up_add, input.out_add {
	width : 68;
	height : 38;
	background : url("../images/button/add.gif") no-repeat;
	border-style : none;
}

input.over_add, input.down_add {
	width : 68;
	height : 38;
	background : url("../images/button/add_r.gif") no-repeat;
	border-style : none;
}

/* <<削除ボタン*/
input.normal_del, input.up_del, input.out_del {
	width : 68;
	height : 38;
	background : url("../images/button/del.gif") no-repeat;
	border-style : none;
}

input.over_del, input.down_del {
	width : 68;
	height : 38;
	background : url("../images/button/del_r.gif") no-repeat;
	border-style : none;
}

/* 置換>>ボタン*/
input.normal_sub, input.up_sub, input.out_sub {
	width : 68;
	height : 38;
	background : url("../images/button/sub.gif") no-repeat;
	border-style : none;
}

input.over_sub, input.down_sub {
	width : 68;
	height : 38;
	background : url("../images/button/sub_r.gif") no-repeat;
	border-style : none;
}

/* 検索ボタン*/
input.normal_search, input.up_search, input.out_search {
	width : 68;
	height : 38;
	background : url("../images/button/search.gif") no-repeat;
	border-style : none;
}

input.over_search, input.down_search {
	width : 68;
	height : 38;
	background : url("../images/button/search_r.gif") no-repeat;
	border-style : none;
}

/* ＋（展開）ボタン*/
input.normal_plus, input.up_plus, input.out_plus {
	width : 19;
	height : 19;
	background : url("../images/button/plus_big.gif") no-repeat;
	border-style : none;
}

input.over_plus, input.down_plus {
	width : 19;
	height : 19;
	background : url("../images/button/plus_big_r.gif") no-repeat;
	border-style : none;
}
/* －（折り畳み）ボタン*/
input.normal_minus, input.up_minus, input.out_minus {
	width : 19;
	height : 19;
	background : url("../images/button/minus_big.gif") no-repeat;
	border-style : none;
}

input.over_minus, input.down_minus {
	width : 19;
	height : 19;
	background : url("../images/button/minus_big_r.gif") no-repeat;
	border-style : none;
}

/* ツリーの更新ボタン*/
input.normal_update_tree, input.up_update_tree, input.out_update_tree {
	width : 136;
	height : 44;
	background : url("../images/button/update_tree.gif") no-repeat;
	border-style : none;
}

input.over_update_tree, input.down_update_tree {
	width : 136;
	height : 44;
	background : url("../images/button/update_tree_r.gif") no-repeat;
	border-style : none;
}

/* ドリルスルー先の追加ボタン*/
input.normal_add_drill, input.up_add_drill, input.out_add_drill {
	width : 148;
	height : 38;
	background : url("../images/button/add_drill.gif") no-repeat;
	border-style : none;
}

input.over_add_drill, input.down_add_drill {
	width : 148;
	height : 38;
	background : url("../images/button/add_drill_r.gif") no-repeat;
	border-style : none;
}

/* ドリルスルー設定の削除ボタン*/
input.normal_del_drill, input.up_del_drill, input.out_del_drill {
	width : 148;
	height : 38;
	background : url("../images/button/del_drill.gif") no-repeat;
	border-style : none;
}

input.over_del_drill, input.down_del_drill {
	width : 148;
	height : 38;
	background : url("../images/button/del_drill_r.gif") no-repeat;
	border-style : none;
}

/* SQLボタン */
input.normal_sql, input.up_sql, input.out_sql {
	width : 68;
	height : 38;
	background : url("../images/button/sql.gif") no-repeat;
	border-style : none;
}

input.over_sql, input.down_sql {
	width : 68;
	height : 38;
	background : url("../images/button/sql_r.gif") no-repeat;
	border-style : none;
}

/* サンプル実行ボタン */
input.normal_sample, input.up_sample, input.out_sample {
	width : 108;
	height : 38;
	background : url("../images/button/sample.gif") no-repeat;
	border-style : none;
}

input.over_sample, input.down_sample {
	width : 108;
	height : 38;
	background : url("../images/button/sample_r.gif") no-repeat;
	border-style : none;
}


