
/******************  report_prpt.jsp  **********************/


DIV.prpt1{
	background-color:#EEEEEE;
	border-style:outset;border-width:2 2 0 2;
}


/******************  report_cube_list.jsp  **********************/


TR.listcolor1{
	background-color:#D9F5B9;
}
TR.listcolor2{
	background-color:#EBF9DC;
}






