body{
	scrollbar-face-color: #F7E397;
	scrollbar-highlight-color: #E8D487;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-darkshadow-color: #C5AF5B;
	scrollbar-arrow-color: #8F7928;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-track-color: #F4F3EE;
}

.container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.treeItem {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: black;
	white-space: nowrap;
}

.treeItem a, .treeItem a:active, .treeItem a:hover {
	margin-left: 3px;
	padding: 1px 2px 1px 2px;
}

.treeItem a {
	color: black;
	text-decoration: none;
}

.treeItem a:hover {
	color: #FF9900;
	text-decoration: underline;
}

.treeItem a:active {
	background: #FF9900;
	color: white;
	text-decoration: none;
}

.treeItem img {
	vertical-align: middle;
	border: 0px;
}

a.dragOver {
	color: #FF9900;
	text-decoration: underline;
}

a.dragEnd {
	color: black;
	text-decoration: none;
}

a.selectedClick {
	background: #FF9900;
	color: white;
	text-decoration: none;
}

