/******************  BODY  **********************/
BODY.SpreadBody {
	OVERFLOW: hidden;
	POSITION: absolute; 
	TOP: 0px; 
	LEFT: 0px;
}

/******************  IFRAME  **********************/

IFRAME.chartArea {
	top:0px;
	left:0px;
	height:100%;
	width:100%
}

/******************  SPAN  **********************/
SPAN.CrossHeaderArea {
	OVERFLOW: hidden; 
	WIDTH: 150px;
}

SPAN.ColumnHeaderArea {
	OVERFLOW: hidden; 
	WIDTH: 750px;
}

SPAN.RowHeaderArea {
	OVERFLOW: hidden; 
	WIDTH: 150px;
}

SPAN.spanPageEdge {
	width:100%; 
	overflow-x: auto;
}

/******************　　DIV　　 ******************/

DIV.DataTableArea {
	OVERFLOW: auto;
	HEIGHT: 400px;
	WIDTH:600px;
	POSITION: absolute
}

DIV.divPallet {
	display:none;
	position:absolute;
	top:29px;
	right:80px;
	z-index:200;
}


DIV.pageAxisIMG,DIV.axisIMG,DIV.axisCenter,DIV.axisRight,DIV.dragAxisIMG,DIV.dragAxisCenter,DIV.dragAxisRight,DIV.replaceIMG,DIV.insertIMG,DIV.colAxisIMG,DIV.rowAxisIMG
{
	display:inline;
}

/* 各エッジに表示されているディメンションのイメージ*/
DIV.axisIMG,DIV.colAxisIMG,DIV.rowAxisIMG
{
	background:url('../images/dimLeft.gif') no-repeat;
	width:38px;
	height:22px;
	padding:0;
	font-size:12px;
}

DIV.axisCenter
{
	background:url('../images/dimCenter.gif') repeat-x;
	font-size:12px;
	height:22px;
	padding-top:5;
	text-align:left;
}

DIV.axisRight
{
	background:url('../images/dimRight.gif') no-repeat;
	width:3px;
	height:22px;
	padding:0;
	font-size:12px;
}

/* ページエッジに挿入、追加するためのイメージ */
DIV.pageAxisIMG {
	width:20px;
	height:16px;
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	display:inline;
}

DIV.replaceIMG {
	width:20px;
	height:44px;
	background:url('../images/axis_replace.gif') no-repeat #FFFFCC;
	display:inline;
	font-size:14px;
	border-style:solid;
	border-color:#FFCC00;
	border-width:1 0 1 1;
}

DIV.insertIMG {
	font-size:14px;
	width:20px;
	height:28px;
	background:url('../images/axis_insert.gif') no-repeat #FFFFCC;
	padding-top:5;
	display:inline;
	border-style:solid;
	border-color:#FFCC00;
	border-width:1 0 1 1;
}

div.replaceDimName,div.insertDimName {
	height:44px;
	background-color: #FFFFCC;
	display:inline;
	line-height:16px;
	font-size:14px;
	padding:5;
	border-style:solid;
	border-color:#FFCC00;
	border-width:1 1 1 0;
}

div.insertDimName 
{
	height:28px;
}
DIV.replaceIMG,DIV.insertIMG,div.replaceDimName,div.insertDimName
{
	filter: Alpha(opacity=85);
}

/* ドラッグ時についてくるイメージ */
DIV.dragAxisIMG 
{
	background:url('../images/dimLeft.gif') no-repeat;
	width:38px;
	height:22px;
	padding:0;
	font-size:12px;
	filter: Alpha(opacity=40);
}

DIV.dragAxisCenter
{
	background:url('../images/dimCenter.gif') repeat-x;
	font-size:12px;
	height:22px;
	padding-top:5;
	text-align:left;
}

DIV.dragAxisRight
{
	background:url('../images/dimRight.gif') no-repeat;
	width:3px;
	height:22px;
	padding:0;
	font-size:12px;
}

DIV.dragAxisIMG,DIV.dragAxisCenter,DIV.dragAxisRight
{
	filter: Alpha(opacity=50);
}

DIV.chartAreaDIV {
	display:none;
	position:absolute;
	top:60px;
	left:0px;
}


/******************　　TABLE　　******************/

TABLE.SpreadTable {
	BORDER-COLLAPSE: collapse;
	margin-left:8px;
}

TABLE.CrossHeaderTable {
	TABLE-LAYOUT: fixed;
	WIDTH: 100%;
	HEIGHT: 100%;
}

TABLE.ColumnHeaderTable {
	TABLE-LAYOUT: fixed;
}

/* 列ヘッダの軸名表示部 */
.CH_TITLE_TABLE{
	border-collapse:collapse;
}

TABLE.RowHeaderTable {
	TABLE-LAYOUT: fixed;
}

TABLE.DataTable {
	TABLE-LAYOUT: fixed;
	BACKGROUND-COLOR:#eeeeee;
}

TABLE.pageEdgeTable {
	height:23;
	border-collapse:collapse;
}
/*****************　　COL　　******************/
COL.CROSS_RH {
	width:130;
}

COL.CH_DC {
	width:840;
}

/******************　　TR　　******************/
TABLE.SpreadTable TR{
	HEIGHT: 22px;
}

/******************　　TD　　******************/
TABLE.SpreadTable TD{
	BORDER:0px;
	BORDER-SPACING:0;
	PADDING:0;
	VERTICAL-ALIGN: top;
}

/* ページエッジの軸のドラッグ用アイコン、デフォルトメンバー表示エリア */
TABLE.pageEdgeTable TD{
}

TABLE.CrossHeaderTable TD,TABLE.ColumnHeaderTable TD,TABLE.RowHeaderTable TD,TABLE.DataTable TD {
	OVERFLOW: hidden;
	TEXT-OVERFLOW: ellipsis;
	WHITE-SPACE: nowrap;
	BORDER-TOP: solid 1px white;
	BORDER-BOTTOM: solid 1px #BABABA;
	BORDER-RIGHT: solid 1px #BABABA;
	BORDER-LEFT: solid 1px white;
	VERTICAL-ALIGN: middle;
}

TABLE.ColumnHeaderTable TD,TABLE.RowHeaderTable TD
{
	border-bottom-color:#ABC191;
	border-right-color:#ABC191;
}

TABLE.CrossHeaderTable TD, TABLE.CH_TITLE_TABLE TD{
	FONT-SIZE: 9pt;
	COLOR: NAVY;
	FONT-WEIGHT:bold;
	TEXT-ALIGN: center;
/*	BACKGROUND-COLOR: #99CCFF;*/
	BACKGROUND-COLOR: #F4F4FF;
	BORDER-WIDTH: 1 1 1 0;
	BORDER-STYLE: solid;
	BORDER-COLOR: #BABABA;
}

TABLE.CH_TITLE_TABLE TD {
	BORDER-WIDTH: 0 0 0 0;
	VERTICAL-ALIGN: middle;
}

TD.colHieNames{
	WIDTH:80;
	FONT-SIZE: 9pt;
	padding:0;
}

TD.rowHieNames{
	FONT-SIZE: 9pt;
}

TABLE.ColumnHeaderTable TD,TABLE.RowHeaderTable TD{
	FONT-SIZE: 9pt;
	/*COLOR: NAVY;
	FONT-WEIGHT: NORMAL;*/
	color:black;
	font-weight:bold;
	TEXT-ALIGN: left;
}

TABLE.DataTable TD{
	FONT-SIZE: 9pt;
	FONT-FAMILY: 'MS UI Gothic';
	TEXT-ALIGN: right;
}

TABLE.DataTable TD.adjustCell {
	BACKGROUND-COLOR:white;
	border:none; 
}


/* ヘッダーの軸メンバーレベルによる配色 headerColorLV[i] */
TABLE.ColumnHeaderTable TD.headerColorLV1, TABLE.RowHeaderTable TD.headerColorLV1{
	BACKGROUND-COLOR:#C6EF97;
}

TABLE.ColumnHeaderTable TD.headerColorLV2, TABLE.RowHeaderTable TD.headerColorLV2 {
	BACKGROUND-COLOR:#D9F5B9;
}

TABLE.ColumnHeaderTable TD.headerColorLV3, TABLE.RowHeaderTable TD.headerColorLV3 {
	BACKGROUND-COLOR:#EBF9DC;
}

TABLE.ColumnHeaderTable TD.headerColorLV4, TABLE.RowHeaderTable TD.headerColorLV4 {
	BACKGROUND-COLOR:#EBF9DC;
}

TABLE.ColumnHeaderTable TD.headerColorLV5, TABLE.RowHeaderTable TD.headerColorLV5 {
	BACKGROUND-COLOR:#EBF9DC;
}

TABLE.ColumnHeaderTable TD.headerColorLV6, TABLE.RowHeaderTable TD.headerColorLV6 {
	BACKGROUND-COLOR:#EBF9DC;
}

TABLE.ColumnHeaderTable TD.headerColorLV7, TABLE.RowHeaderTable TD.headerColorLV7 {
	BACKGROUND-COLOR:#EBF9DC;
}

/******************　IMAGE 　******************/
IMG{
	vertical-align:middle;
}

.loadingIMG {
	margin:0;
	padding:0;
	width:40px;
	height:33px;
}


/******************　A 　******************/

DIV.axisCenter a
{
	text-decoration:none;
	color:black;
}

