TABLE.ListTable
{
	margin-bottom:20;
}

TABLE.ListTable TD.ColHeader
{
	background-color:#C6EF97;
	padding-left:4;
	padding-top:4;
	padding-bottom:2;
	padding-right:2;
	font-weight:bold;
	border:none;
}

TABLE.ListTable TD
{
	padding-left:4;
	padding-top:4;
	padding-bottom:2;
	padding-right:2;
	background-color:#EBF9DC;
	border:none;
}

caption
{
	font-weight:bold;
	color:green;
}